ISO_W_LOOKUP/1.0/schemas/XML2ISO1.IN_PORT_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:fns="http://www.fiorano.com/fesb/activity/ISOMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/ISOMessage">
   <xsd:element name="ISOMessage">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="MTI" type="xsd:string"/>
            <xsd:element name="Fields">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="field_1" type="xsd:string"/>
                     <xsd:element name="field_2" type="xsd:string"/>
                     <xsd:element name="field_3" type="xsd:string"/>
                     <xsd:element name="field_4" type="xsd:string"/>
                     <xsd:element name="field_5" type="xsd:string"/>
                     <xsd:element name="field_6" type="xsd:string"/>
                     <xsd:element name="field_7" type="xsd:string"/>
                     <xsd:element name="field_8" type="xsd:string"/>
                     <xsd:element name="field_9" type="xsd:string"/>
                     <xsd:element name="field_10" type="xsd:string"/>
                     <xsd:element name="field_11" type="xsd:string"/>
                     <xsd:element name="field_12" type="xsd:string"/>
                     <xsd:element name="field_13" type="xsd:string"/>
                     <xsd:element name="field_14" type="xsd:string"/>
                     <xsd:element name="field_15" type="xsd:string"/>
                     <xsd:element name="field_16" type="xsd:string"/>
                     <xsd:element name="field_17" type="xsd:string"/>
                     <xsd:element name="field_18" type="xsd:string"/>
                     <xsd:element name="field_19" type="xsd:string"/>
                     <xsd:element name="field_20" type="xsd:string"/>
                     <xsd:element name="field_21" type="xsd:string"/>
                     <xsd:element name="field_22" type="xsd:string"/>
                     <xsd:element name="field_23" type="xsd:string"/>
                     <xsd:element name="field_24" type="xsd:string"/>
                     <xsd:element name="field_25" type="xsd:string"/>
                     <xsd:element name="field_26" type="xsd:string"/>
                     <xsd:element name="field_27" type="xsd:string"/>
                     <xsd:element name="field_28" type="xsd:string"/>
                     <xsd:element name="field_29" type="xsd:string"/>
                     <xsd:element name="field_30" type="xsd:string"/>
                     <xsd:element name="field_31" type="xsd:string"/>
                     <xsd:element name="field_32" type="xsd:string"/>
                     <xsd:element name="field_33" type="xsd:string"/>
                     <xsd:element name="field_34" type="xsd:string"/>
                     <xsd:element name="field_35" type="xsd:string"/>
                     <xsd:element name="field_36" type="xsd:string"/>
                     <xsd:element name="field_37" type="xsd:string"/>
                     <xsd:element name="field_38" type="xsd:string"/>
                     <xsd:element name="field_39" type="xsd:string"/>
                     <xsd:element name="field_40" type="xsd:string"/>
                     <xsd:element name="field_41" type="xsd:string"/>
                     <xsd:element name="field_42" type="xsd:string"/>
                     <xsd:element name="field_43" type="xsd:string"/>
                     <xsd:element name="field_44" type="xsd:string"/>
                     <xsd:element name="field_45" type="xsd:string"/>
                     <xsd:element name="field_46" type="xsd:string"/>
                     <xsd:element name="field_47" type="xsd:string"/>
                     <xsd:element name="field_48" type="xsd:string"/>
                     <xsd:element name="field_49" type="xsd:string"/>
                     <xsd:element name="field_50" type="xsd:string"/>
                     <xsd:element name="field_51" type="xsd:string"/>
                     <xsd:element name="field_52" type="xsd:string"/>
                     <xsd:element name="field_53" type="xsd:string"/>
                     <xsd:element name="field_54" type="xsd:string"/>
                     <xsd:element name="field_55" type="xsd:string"/>
                     <xsd:element name="field_56" type="xsd:string"/>
                     <xsd:element name="field_57" type="xsd:string"/>
                     <xsd:element name="field_58" type="xsd:string"/>
                     <xsd:element name="field_59" type="xsd:string"/>
                     <xsd:element name="field_60" type="xsd:string"/>
                     <xsd:element name="field_61" type="xsd:string"/>
                     <xsd:element name="field_62" type="xsd:string"/>
                     <xsd:element name="field_63" type="xsd:string"/>
                     <xsd:element name="field_64" type="xsd:string"/>
                     <xsd:element name="field_65" type="xsd:string"/>
                     <xsd:element name="field_66" type="xsd:string"/>
                     <xsd:element name="field_67" type="xsd:string"/>
                     <xsd:element name="field_68" type="xsd:string"/>
                     <xsd:element name="field_69" type="xsd:string"/>
                     <xsd:element name="field_70" type="xsd:string"/>
                     <xsd:element name="field_71" type="xsd:string"/>
                     <xsd:element name="field_72" type="xsd:string"/>
                     <xsd:element name="field_73" type="xsd:string"/>
                     <xsd:element name="field_74" type="xsd:string"/>
                     <xsd:element name="field_75" type="xsd:string"/>
                     <xsd:element name="field_76" type="xsd:string"/>
                     <xsd:element name="field_77" type="xsd:string"/>
                     <xsd:element name="field_78" type="xsd:string"/>
                     <xsd:element name="field_79" type="xsd:string"/>
                     <xsd:element name="field_80" type="xsd:string"/>
                     <xsd:element name="field_81" type="xsd:string"/>
                     <xsd:element name="field_82" type="xsd:string"/>
                     <xsd:element name="field_83" type="xsd:string"/>
                     <xsd:element name="field_84" type="xsd:string"/>
                     <xsd:element name="field_85" type="xsd:string"/>
                     <xsd:element name="field_86" type="xsd:string"/>
                     <xsd:element name="field_87" type="xsd:string"/>
                     <xsd:element name="field_88" type="xsd:string"/>
                     <xsd:element name="field_89" type="xsd:string"/>
                     <xsd:element name="field_90" type="xsd:string"/>
                     <xsd:element name="field_91" type="xsd:string"/>
                     <xsd:element name="field_92" type="xsd:string"/>
                     <xsd:element name="field_93" type="xsd:string"/>
                     <xsd:element name="field_94" type="xsd:string"/>
                     <xsd:element name="field_95" type="xsd:string"/>
                     <xsd:element name="field_96" type="xsd:string"/>
                     <xsd:element name="field_97" type="xsd:string"/>
                     <xsd:element name="field_98" type="xsd:string"/>
                     <xsd:element name="field_99" type="xsd:string"/>
                     <xsd:element name="field_100" type="xsd:string"/>
                     <xsd:element name="field_101" type="xsd:string"/>
                     <xsd:element name="field_102" type="xsd:string"/>
                     <xsd:element name="field_103" type="xsd:string"/>
                     <xsd:element name="field_104" type="xsd:string"/>
                     <xsd:element name="field_105" type="xsd:string"/>
                     <xsd:element name="field_106" type="xsd:string"/>
                     <xsd:element name="field_107" type="xsd:string"/>
                     <xsd:element name="field_108" type="xsd:string"/>
                     <xsd:element name="field_109" type="xsd:string"/>
                     <xsd:element name="field_110" type="xsd:string"/>
                     <xsd:element name="field_111" type="xsd:string"/>
                     <xsd:element name="field_112" type="xsd:string"/>
                     <xsd:element name="field_113" type="xsd:string"/>
                     <xsd:element name="field_114" type="xsd:string"/>
                     <xsd:element name="field_115" type="xsd:string"/>
                     <xsd:element name="field_116" type="xsd:string"/>
                     <xsd:element name="field_117" type="xsd:string"/>
                     <xsd:element name="field_118" type="xsd:string"/>
                     <xsd:element name="field_119" type="xsd:string"/>
                     <xsd:element name="field_120" type="xsd:string"/>
                     <xsd:element name="field_121" type="xsd:string"/>
                     <xsd:element name="field_122" type="xsd:string"/>
                     <xsd:element name="field_123" type="xsd:string"/>
                     <xsd:element name="field_124" type="xsd:string"/>
                     <xsd:element name="field_125" type="xsd:string"/>
                     <xsd:element name="field_126" type="xsd:string"/>
                     <xsd:element name="field_127">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="field_127.1" type="xsd:string"/>
                              <xsd:element name="field_127.2" type="xsd:string"/>
                              <xsd:element name="field_127.3" type="xsd:string"/>
                              <xsd:element name="field_127.4" type="xsd:string"/>
                              <xsd:element name="field_127.5" type="xsd:string"/>
                              <xsd:element name="field_127.6" type="xsd:string"/>
                              <xsd:element name="field_127.7" type="xsd:string"/>
                              <xsd:element name="field_127.8" type="xsd:string"/>
                              <xsd:element name="field_127.9" type="xsd:string"/>
                              <xsd:element name="field_127.10" type="xsd:string"/>
                              <xsd:element name="field_127.11" type="xsd:string"/>
                              <xsd:element name="field_127.12" type="xsd:string"/>
                              <xsd:element name="field_127.13" type="xsd:string"/>
                              <xsd:element name="field_127.14" type="xsd:string"/>
                              <xsd:element name="field_127.15" type="xsd:string"/>
                              <xsd:element name="field_127.16" type="xsd:string"/>
                              <xsd:element name="field_127.17" type="xsd:string"/>
                              <xsd:element name="field_127.18" type="xsd:string"/>
                              <xsd:element name="field_127.19" type="xsd:string"/>
                              <xsd:element name="field_127.20" type="xsd:string"/>
                              <xsd:element name="field_127.21" type="xsd:string"/>
                              <xsd:element name="field_127.22" type="xsd:string"/>
                              <xsd:element name="field_127.23" type="xsd:string"/>
                              <xsd:element name="field_127.24" type="xsd:string"/>
                              <xsd:element name="field_127.25" type="xsd:string"/>
                              <xsd:element name="field_127.26" type="xsd:string"/>
                              <xsd:element name="field_127.27" type="xsd:string"/>
                              <xsd:element name="field_127.28" type="xsd:string"/>
                              <xsd:element name="field_127.29" type="xsd:string"/>
                              <xsd:element name="field_127.30" type="xsd:string"/>
                              <xsd:element name="field_127.31" type="xsd:string"/>
                              <xsd:element name="field_127.32" type="xsd:string"/>
                              <xsd:element name="field_127.33" type="xsd:string"/>
                              <xsd:element name="field_127.34" type="xsd:string"/>
                              <xsd:element name="field_127.35" type="xsd:string"/>
                              <xsd:element name="field_127.36" type="xsd:string"/>
                              <xsd:element name="field_127.37" type="xsd:string"/>
                              <xsd:element name="field_127.38" type="xsd:string"/>
                              <xsd:element name="field_127.39" type="xsd:string"/>
                              <xsd:element name="field_127.40" type="xsd:string"/>
                              <xsd:element name="field_127.41" type="xsd:string"/>
                              <xsd:element name="field_127.42" type="xsd:string"/>
                              <xsd:element name="field_127.43" type="xsd:string"/>
                              <xsd:element name="field_127.44" type="xsd:string"/>
                              <xsd:element name="field_127.45" type="xsd:string"/>
                              <xsd:element name="field_127.46" type="xsd:string"/>
                              <xsd:element name="field_127.47" type="xsd:string"/>
                              <xsd:element name="field_127.48" type="xsd:string"/>
                              <xsd:element name="field_127.49" type="xsd:string"/>
                              <xsd:element name="field_127.50" type="xsd:string"/>
                              <xsd:element name="field_127.51" type="xsd:string"/>
                              <xsd:element name="field_127.52" type="xsd:string"/>
                              <xsd:element name="field_127.53" type="xsd:string"/>
                              <xsd:element name="field_127.54" type="xsd:string"/>
                              <xsd:element name="field_127.55" type="xsd:string"/>
                              <xsd:element name="field_127.56" type="xsd:string"/>
                              <xsd:element name="field_127.57" type="xsd:string"/>
                              <xsd:element name="field_127.58" type="xsd:string"/>
                              <xsd:element name="field_127.59" type="xsd:string"/>
                              <xsd:element name="field_127.60" type="xsd:string"/>
                              <xsd:element name="field_127.61" type="xsd:string"/>
                              <xsd:element name="field_127.62" type="xsd:string"/>
                              <xsd:element name="field_127.63" type="xsd:string"/>
                              <xsd:element name="field_127.64" type="xsd:string"/>
                              <xsd:element name="field_127.65" type="xsd:string"/>
                              <xsd:element name="field_127.66" type="xsd:string"/>
                              <xsd:element name="field_127.67" type="xsd:string"/>
                              <xsd:element name="field_127.68" type="xsd:string"/>
                              <xsd:element name="field_127.69" type="xsd:string"/>
                              <xsd:element name="field_127.70" type="xsd:string"/>
                              <xsd:element name="field_127.71" type="xsd:string"/>
                              <xsd:element name="field_127.72" type="xsd:string"/>
                              <xsd:element name="field_127.73" type="xsd:string"/>
                              <xsd:element name="field_127.74" type="xsd:string"/>
                              <xsd:element name="field_127.75" type="xsd:string"/>
                              <xsd:element name="field_127.76" type="xsd:string"/>
                              <xsd:element name="field_127.77" type="xsd:string"/>
                              <xsd:element name="field_127.78" type="xsd:string"/>
                              <xsd:element name="field_127.79" type="xsd:string"/>
                              <xsd:element name="field_127.80" type="xsd:string"/>
                              <xsd:element name="field_127.81" type="xsd:string"/>
                              <xsd:element name="field_127.82" type="xsd:string"/>
                              <xsd:element name="field_127.83" type="xsd:string"/>
                              <xsd:element name="field_127.84" type="xsd:string"/>
                              <xsd:element name="field_127.85" type="xsd:string"/>
                              <xsd:element name="field_127.86" type="xsd:string"/>
                              <xsd:element name="field_127.87" type="xsd:string"/>
                              <xsd:element name="field_127.88" type="xsd:string"/>
                              <xsd:element name="field_127.89" type="xsd:string"/>
                              <xsd:element name="field_127.90" type="xsd:string"/>
                              <xsd:element name="field_127.91" type="xsd:string"/>
                              <xsd:element name="field_127.92" type="xsd:string"/>
                              <xsd:element name="field_127.93" type="xsd:string"/>
                              <xsd:element name="field_127.94" type="xsd:string"/>
                              <xsd:element name="field_127.95" type="xsd:string"/>
                              <xsd:element name="field_127.96" type="xsd:string"/>
                              <xsd:element name="field_127.97" type="xsd:string"/>
                              <xsd:element name="field_127.98" type="xsd:string"/>
                              <xsd:element name="field_127.99" type="xsd:string"/>
                              <xsd:element name="field_127.100" type="xsd:string"/>
                              <xsd:element name="field_127.101" type="xsd:string"/>
                              <xsd:element name="field_127.102" type="xsd:string"/>
                              <xsd:element name="field_127.103" type="xsd:string"/>
                              <xsd:element name="field_127.104" type="xsd:string"/>
                              <xsd:element name="field_127.105" type="xsd:string"/>
                              <xsd:element name="field_127.106" type="xsd:string"/>
                              <xsd:element name="field_127.107" type="xsd:string"/>
                              <xsd:element name="field_127.108" type="xsd:string"/>
                              <xsd:element name="field_127.109" type="xsd:string"/>
                              <xsd:element name="field_127.110" type="xsd:string"/>
                              <xsd:element name="field_127.111" type="xsd:string"/>
                              <xsd:element name="field_127.112" type="xsd:string"/>
                              <xsd:element name="field_127.113" type="xsd:string"/>
                              <xsd:element name="field_127.114" type="xsd:string"/>
                              <xsd:element name="field_127.115" type="xsd:string"/>
                              <xsd:element name="field_127.116" type="xsd:string"/>
                              <xsd:element name="field_127.117" type="xsd:string"/>
                              <xsd:element name="field_127.118" type="xsd:string"/>
                              <xsd:element name="field_127.119" type="xsd:string"/>
                              <xsd:element name="field_127.120" type="xsd:string"/>
                              <xsd:element name="field_127.121" type="xsd:string"/>
                              <xsd:element name="field_127.122" type="xsd:string"/>
                              <xsd:element name="field_127.123" type="xsd:string"/>
                              <xsd:element name="field_127.124" type="xsd:string"/>
                              <xsd:element name="field_127.125" type="xsd:string"/>
                              <xsd:element name="field_127.126" type="xsd:string"/>
                              <xsd:element name="field_127.127" type="xsd:string"/>
                              <xsd:element name="field_127.128" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="field_128" type="xsd:string"/>
                       <xsd:element name="TranType" type="xsd:int"/>
                     <xsd:element name="SourceNode" type="xsd:string"/>
                     <xsd:element name="SinkNode" type="xsd:string"/>
                     <xsd:element name="DebitAccount" type="xsd:string"/>
                     <xsd:element name="CreditAccount" type="xsd:string"/>
                     <xsd:element name="Version" type="xsd:string"/>
                     <xsd:element name="Inquiry" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
